@import "tailwindcss";

@theme {
  --color-indigodye: #005380; 
  --color-honolulublue: #0077B6;
  --color-pictonblue: #3DA5D9;
  --color-parchment: #F4EBCD;
  --color-mantis: #71B26D;
  --color-asparagus: #679436;
}
